{% extends 'base.html.twig' %}

{% block body %}
<div class="bs-example" data-example-id="striped-table">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for orders in orders %}
            <tr>
                <th scope="row">{{ orders.id }}</th>
                <td>{{ orders.Date|date('F j,Y, g:i a') }}</td>
                <td>{{ orders.quantity }}</td>
                <td>{{ orders.total }}</td>

                <td>
                    <a href="{{ path('orders_view', {'id': orders.id}) }} " class='btn btn-success'>View</a>

                    <a href="{{ path('orders_delete', {'id': orders.id}) }}" class='btn btn-danger'>Delete</a>

                    <a href="{{ path('orders_update', {'id': orders.id}) }}" class='btn btn-default'>Update</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a href="{{ path('orders_create') }}" class="btn btn-primary">Create new</a>
{% endblock %}
