{% extends 'base.html.twig' %}
{% block body %}
    <a href="{{ path('orders_list') }}" class="btn btn-default">Back to Orders List</a>
    <hr/>
    <h2 class="page-header">ID orders: {{ orders.id }}</h2>
    <ul class="list-group">
        <li class="list-group-item">Date: {{ orders.date|date('F j,Y, g:i a') }}</li>
        <li class="list-group-item">Quantity: {{ orders.quantity }}</li>
        <li class="list-group-item">Total: {{ orders.total }}</li>

    </ul>

{% endblock %}