{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('user_list') }}" class="btn btn-default">Back to User List</a>
    <hr/>
    <h2 class="page-header">{{ user.name }}</h2>
    <ul class="list-group">
        <li class="list-group-item">Birthdate: {{ user.birthdate|date('F j,Y, g:i a') }}</li>
        <li class="list-group-item">Phone: {{ user.phone }}</li>
        <li class="list-group-item">Address: {{ user.address }}</li>
    </ul>

{% endblock %}